<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO (Search Engine Optimization) -->
    <title>We Make Bull!</title>
    <meta name="description" content="we make crypto bull" />
    <meta name="author" content="Seon, Taehoon" />
    <link
      rel="shortcut icon"
      href="../public/images/favicon.ico"
      type="image/x-icon"
    />
    <!-- OG (Open Graph) -->
    <meta property="og:title" content="션과 태훈의 포트폴리오" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="배포 후 생성된 URL" />
    <meta property="og:image" content="배포 후 생성된 이미지 URL" />
    <!-- Goggle Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,600;1,400&family=Outfit:wght@500&display=swap"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/76b94c2aa9.js"
      crossorigin="anonymous"
    ></script>
    <!-- Typeit -->
    <script src="https://unpkg.com/typeit@8.7.1/dist/index.umd.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/index.css" />
    <!-- Javascript -->
    <script type="module" src="/js/main.js" defer></script>
    <script type="module" src="/js/projects.js" defer></script>
    <script type="module" src="/js/active_menu.js" defer></script>
    <script type="module" src="/js/type.js" defer></script>
    <script type="module" src="/js/slide.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <div class="header__logo">
        <a href="http://localhost:7700/">
          <img class="header__logo__img" src="/images/favicon.ico" alt="logo"
        /></a>
      </div>


            <nav class="header__nav">
                <ul class="header__menu">
                    <li><a class="header__menu__item active" href="#home">Home</a></li>
                    <li><a class="header__menu__item" href="#about">About</a></li>
                    <li><a class="header__menu__item" href="#branches">Branches</a></li>
                    <li><a class="header__menu__item" href="#announcement">Announcement</a></li>
                    <li><a class="header__menu__item" href="#freeboard">Freeboard</a></li>
                    <li><a class="header__menu__item" href="#partners">Partners</a></li>
                    <li><a class="header__menu__item" href="#contact">Contact</a></li>
                </ul>
            </nav>
            <button class="header__toggle" aria-label="navigation menu toggle">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="login">
                {% if user %}
                <div class="button-container">
                    <a class="loginbutton" href="/users/info">Myinfo</a>
                    <a class="loginbutton" href="/users/logout">Logout</a>
                </div>

        <p><span class="username">{{user.username}},</span> Welcome here!</p>
        {% else %}
        <a class="loginbutton" href="/users/login">Login</a>

        <!-- <button onclick="location.href='/users/login'" class="login-button">로그인</button> -->
        {% endif %}
      </div>
    </header>


    <main>
            <!-- Home -->
            <section id="home">
                <div class="max-container home__container">
                    <img class="home__botimage" src="/images/tradingbot.png" alt="bot image" />
                    <div class="home__textcontainer">
                        <h2 class="home__title" aria-label="wemakebull">
                            Cryptocurrency <br /><strong class="home__title--strong">Ultimate Bot</strong>
                        </h2>
                        <p class="home__description">for Next-Level, Real-Time Cryptocurrency Analytics and Insights</p>
                        <a class="home__contact" href="#contact">Contact Us</a>
                    </div>
                </div>
                <div class="home__divider">
                    <svg
                        data-name="Layer 1"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 1200 120"
                        preserveAspectRatio="none"
                    >
                        <path
                            d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
                            opacity=".25"
                            class="shape-fill"
                        ></path>
                        <path
                            d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
                            opacity=".5"
                            class="shape-fill"
                        ></path>
                        <path
                            d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
                            class="shape-fill"
                        ></path>
                    </svg>
                </div>
            </section>
            <!-- About -->
            <section id="about" class="section max-container">
                <h2 class="title">Our Features</h2>
                <p class="description" style="margin-bottom: 3rem">Simple Bot with Advanced Tools</p>
                <p class="description2">
                    WeMakeBull was founded in 2023. Initially, the focus was solely on monitoring wallets within the
                    Ethereum network. <br />
                    <br />
                    However, as we continued our phased development, it became evident how vital this bot is to the
                    crypto community. <br />
                    <br />
                    What truly sets it apart and adds the most value for our users are its unique features. <br />
                    <br />
                    So what are these standout features?
                </p>
                <div class="abouts">
                    <div class="about">
                        <img src="/images/product1.png" alt="product1" class="about__img" />
                        <div class="about__boxes">
                            <h2 class="title">Cryptocurrency Tracking</h2>
                            <p class="description" style="margin-bottom: 3rem">
                                Add coins by name, ticker or contract address. Apply your personalised settings to
                                receive instant notifications about Price Changes & Swaps.
                            </p>
                            <div class="about__box">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <div class="about__box__text">
                                    <h3>Price and Change Alerts</h3>
                                    <p>
                                        Configure alerts based on a specified percentage change in the price of a
                                        particular cryptocurrency coin, or set a target price that you want to be
                                        notified about.
                                    </p>
                                </div>
                            </div>
                            <div class="about__box">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                <div class="about__box__text">
                                    <h3>Swap Alerts</h3>
                                    <p>
                                        Set $ Value to track Swaps on Uniswap, Sushiswap, Balancer and other supported
                                        DEXs.
                                    </p>
                                </div>
                            </div>
                            <div class="about__box">
                                <i class="fa-solid fa-lock-open"></i>
                                <div class="about__box__text">
                                    <h3>Token Unlocks</h3>
                                    <p>
                                        Receive notifications about Token Unlocks from Seed, Private and Other funding
                                        rounds for Coins in your Watchlist.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about">
                        <img src="/images/product2.png" alt="product2" class="about__img" />
                        <div class="about__boxes">
                            <h2 class="title">Wallet Tracking</h2>
                            <p class="description" style="margin-bottom: 3rem">
                                Add a wallet by it`s address to monitor incoming and outgoing transactions, airdrops,
                                NFT transactions and created contracts.
                            </p>
                            <div class="about__box">
                                <i class="fa-solid fa-shuffle"></i>
                                <div class="about__box__text">
                                    <h3>Transaction Tracking</h3>
                                    <p>
                                        Receive notifications on In/Out Transactions, Swaps, Mints and executed
                                        Contracts.
                                    </p>
                                </div>
                            </div>
                            <div class="about__box">
                                <i class="fa-solid fa-bolt"></i>
                                <div class="about__box__text">
                                    <h3>Open Long/Short Positions</h3>
                                    <p>
                                        Track open Long/Short positions on wallets including position increasing,
                                        decreasing or liquidation.
                                    </p>
                                </div>
                            </div>
                            <div class="about__box">
                                <i class="fa-solid fa-wallet"></i>
                                <div class="about__box__text">
                                    <h3>Wallet Balance</h3>
                                    <p>Check Balances of assets and NFTs.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="about">
                        <img src="/images/product3.png" alt="product3" class="about__img" />
                        <div class="about__boxes">
                            <h2 class="title">NFT Tracking</h2>
                            <p class="description" style="margin-bottom: 3rem">
                                Add NFT by Collection Name or Contract (Ethereum Network) to track floor prices, changes
                                and unusual Buying or Selling Activity.
                            </p>
                            <div class="about__box">
                                <i class="fa-regular fa-gem"></i>
                                <div class="about__box__text">
                                    <h3>Floor Price and Change Alerts</h3>
                                    <p>Receive notifications on floor price of your collections and their change.</p>
                                </div>
                            </div>
                            <div class="about__box">
                                <i class="fa-solid fa-user-group"></i>
                                <div class="about__box__text">
                                    <h3>Pump & Dump Alerts</h3>
                                    <p>
                                        Enter the number of NFT Buys & sales/per minute that will trigger an alert and
                                        do not miss Pump or Dump.
                                    </p>
                                </div>
                            </div>
                            <div class="about__box">
                                <i class="fa-solid fa-tag"></i>
                                <div class="about__box__text">
                                    <h3>NFT Patterns</h3>
                                    <p>
                                        Select the number of Unique Addresses from our selection of Whales Lists
                                        buying/selling an NFT Collection to trigger an alert.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Branches -->
            <section id="branches">
                <div class="slideshow-container">
                    <div class="mySlides fade">
                        <div class="numbertext">1 / 3</div>
                        <img src="/images/hongkong.jpg" style="width: 100%" />
                        <div class="slide__text">Hongkong Head Office</div>
                    </div>


          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="/images/shanghai.jpg" style="width: 100%" />
            <div class="slide__text">Shanghai Branch</div>
          </div>

          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="/images/tokyo.webp" style="width: 100%" />
            <div class="slide__text">Tokyo Branch</div>
          </div>
          <br />
          <div style="text-align: center">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </div>
        </div>
      </section>
            <!-- Announcement -->
            <section id="announcement">
                <h2 class="title">Announcement</h2>
                <p class="description tablespace">Check out important news!</p>
                <table class="announcement__table">
                    <tr>
                        <th class="tableno">NO</th>
                        <th class="tabletitle">Title</th>
                        <th class="tablenickname">Nickname</th>
                        <th class="tabledate">Date</th>
                        <th class="tablehit">hit</th>
                    </tr>
                    {% for data in announcementList | slice(0, 10) %}
                    <tr>
                        <td>{{data.id}}</td>
                        <td>
                            <a class="board__title" href="/boards/announcement/view?id={{data.id}}">{{data.title}}</a>
                        </td>
                        <td>{{data.writer}}</td>
                        <td>{{data.formattedDate}}</td>
                        <td>{{data.hit}}</td>
                    </tr>
                    {% endfor %}
                </table>
                {% if user.level >= 2 %}
                <a class="writebutton1" href="/boards/announcement/write"
                  >Write Announcement</a
                >
                {% endif %}
            </section>
            <!-- Freeboard -->
            <section id="freeboard">
                <h2 class="title">Open Forum</h2>
                <p class="description tablespace openforum">Feel free to share information about crypto trading!</p>
                <table>
                    <tr>
                        <th class="tableno">NO</th>
                        <th class="tabletitle">Title</th>
                        <th class="tablenickname">Nickname</th>
                        <th class="tabledate">Date</th>
                        <th class="tablehit">hit</th>
                    </tr>
                    <!-- {% for data in freeList | slice(0, 10) %}
                    <tr>
                        <td>{{data.id}}</td>
                        <td>
                            <a class="board__title" href="/boards/freeboard/view?id={{data.id}}">{{data.title}}</a>
                        </td>
                        <td>{{data.writer}}</td>
                        <td>{{data.formattedDate}}</td>
                        <td>{{data.hit}}</td>
                    </tr>
                    {% endfor %} -->

                    {% for data in freeList | slice(0, 10) %}
                    <tr>
                        <td>{{data.id}}</td>
                        <td>
                            <a class="board__title" href="/boards/freeboard/view?id={{data.id}}">{{data.title}}</a>
                        </td>
                        <td>{{data.writer}}</td>
                        <td>{{data.formattedDate}}</td>
                        <td>{{data.hit}}</td>
                    </tr>
                    {% endfor %}
                </table>
                <a class="writebutton2" href="/boards/freeboard/write">Write</a>
            </section>
            <!-- Partners -->
            <section id="partners" class="section">
                <div class="max-container">
                    <h2 class="title">Partners</h2>
                    <p class="description">The Best Partners Collaborating with WeMakeBull Service</p>
                    <ul class="categories">
                        <li>
                            <button class="category category--selected" data-category="all">
                                All <span class="category__count">8</span>
                            </button>
                        </li>
                        <li>
                            <button class="category" data-category="cex">
                                Cex <span class="category__count">3</span>
                            </button>
                        </li>
                        <li>
                            <button class="category" data-category="foundation">
                                Foundation <span class="category__count">3</span>
                            </button>
                        </li>
                        <li>
                            <button class="category" data-category="vc">
                                Vc <span class="category__count">2</span>
                            </button>
                        </li>
                    </ul>
                    <ul class="projects">
                        <li class="project" data-type="cex">
                            <a href="https://www.binance.com/en" target="_blank"
                                ><img src="/images/logo1.jpg" alt="logo1" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="vc">
                            <a href="https://www.animocabrands.com/" target="_blank"
                                ><img src="/images/logo2.jpg" alt="project2" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="cex">
                            <a href="https://upbit.com/home" target="_blank">
                                <img src="/images/logo3.jpg" alt="project3" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="vc">
                            <a href="https://www.hashed.com/" target="_blank"
                                ><img src="./images/logo4.jpg" alt="project4" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="foundation">
                            <a href="https://polygon.technology/home" target="_blank"
                                ><img src="/images/logo5.jpg" alt="project5" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="cex">
                            <a href="#" target="_blank"
                                ><img src="/images/logo6.jpg" alt="project6" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="foundation">
                            <a href="#" target="_blank"
                                ><img src="/images/logo7.jpg" alt="project7" class="project__img" />
                            </a>
                        </li>
                        <li class="project" data-type="foundation">
                            <a href="#" target="_blank"
                                ><img src="./images/logo8.jpg" alt="project8" class="project__img" />
                            </a>
                        </li>
                    </ul>

                </div>
        </div>
      </section>

            <!-- Arrow up -->
            <aside>
                <a class="arrow-up" href="#home" title="back to top">
                    <i class="fa-solid fa-caret-up"></i>
                </a>
            </aside>
        </main>
        <!-- Footer -->
        <footer id="contact" class="section">
            <div class="contact__divider">
                <svg
                    data-name="Layer 1"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 1200 120"
                    preserveAspectRatio="none"
                >
                    <path d="M649.97 0L550.03 0 599.91 54.12 649.97 0z" class="shape-fill"></path>
                </svg>
            </div>
            <div>
                <h2 class="contact__title">Let&#39;s make a bull with us!</h2>
                <ul class="contact__links">
                    <li class="contact__links__li">
                        <a
                            class="contact__link"
                            href="https://github.com/WhaleMan123"
                            target="_blank"
                            title="taehoon github link"
                        >
                            <span>Taehoon (Back-end)</span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                    <li class="contact__links__li">
                        <a
                            class="contact__link"
                            href="https://github.com/applemangopen/blockchain10"
                            target="_blank"
                            title="seon github link"
                        >
                            <span>Seon (Front-end)</span>
                            <i class="fa-brands fa-github"></i>
                        </a>
                    </li>
                </ul>
                <p class="contact__link--rights">Taehoon&Seon - All rights reserved</p>
            </div>
        </footer>
    </body>
</html>
