/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-deepblue);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-accent-light: var(--color-yellow);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-deepblue: #111827;
    --color-blue: #0096a1;
    --color-orange: #fd6413;
    --color-yellow: #dc9e0e;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text);
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid transparent;
}

/* Common */
.section {
    padding: 2rem;
    text-align: center;
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
    color: var(--color-accent);
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.description2 {
    margin-top: 3rem;
    font-size: 1rem;
    margin: 0.5rem 0;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;
}

i:hover {
    transform: rotate(-5deg) scale(1.8);
}

/* Header */
.header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    transition: all 300ms ease;
}

.login,
.header__logo,
.header__nav {
    flex-shrink: 0;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* 남는 공간을 모두 차지하도록 설정 */
}

.header--dark {
    background-color: var(--color-primary);
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 5rem;
}

.header__logo__img {
    width: 170px;
    height: 85px;
    top: 1rem;
    left: 2rem;
}

.header__toggle {
    display: none;
    color: var(--color-white);
    font-size: 2rem;
    position: absolute;
    top: 1.6rem;
    right: 1rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    font-size: 1.2rem;
    padding: 8px 16px;
    display: block;
    border-bottom: 1px solid transparent;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중간 정렬 */
    gap: 8px;
    margin-right: 5rem;
}

.button-container {
    display: flex;
    gap: 8px; /* 버튼 간의 간격 */
    align-self: flex-start; /* 왼쪽 정렬 */
}
.login p {
    margin: 0;
    font-weight: bold;
    color: var(--color-white);
}

/* .login button {
    font-weight: bold;
    padding: 15px 20px;
    border: 1px solid var(--color-accent);
    background-color: transparent;
    color: var(--color-accent);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
}

.login button:hover {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.info-button,
.logout-button,
.login-button {
    margin-top: 8px;
} */

.loginbutton {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-weight: bold;
    color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.loginbutton:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

/* Home */
#home {
    position: relative;
    background: var(--color-primary);
    background: linear-gradient(29deg, rgba(17, 24, 39, 1) 0%, rgba(16, 83, 121, 1) 100%);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 10rem;
    text-align: center;
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__textcontainer {
    text-align: left;
    width: 700px;
}

.home__botimage {
    width: 400px;
    height: 600px;
    object-fit: contain;
    margin-right: 5rem;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    background: linear-gradient(to right, #36bbfd, #743dcc);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4rem;
}

.home__description {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.home__contact {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    color: var(--color-black);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);
}

.home__divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.home__divider svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 87px;
}

.home__divider .shape-fill {
    fill: #3a7dc9;
}

/* About */
.abouts {
    margin: 3rem;
    max-width: var(--size-max-width);
    margin: auto;
}

.about {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1rem;
}

.about__boxes {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}

.about:nth-child(even) .about__img {
    order: 1;
}

.about__img {
    width: 400px;
    height: 500px;
    object-fit: contain;
    transition: all 300ms ease;
    margin: 0 3rem;
}

.about__img:hover {
    transform: rotate(15deg) scale(1.2);
    box-shadow: 0 20px 50px rgba(8, 112, 184, 0.7);
}

.about__box {
    color: var(--color-deepblue);
    display: flex; /* 유지 */
    gap: 3rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.about__box > i {
    font-size: 2rem;
    background: linear-gradient(to right, #36bbfd, #743dcc);
    -webkit-background-clip: text;
    color: transparent;
}

.about__box__text > h3 {
    color: var(--color-accent);
    font-weight: bold;
}

.about__box__text > p {
    width: 500px;
    white-space: normal;
    overflow-wrap: break-word;
}

.about__boxes > h2 {
    font-size: 1.6rem;
}

.about__boxes > p {
    font-size: 1rem;
}

/* Branches */
#branches {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--color-primary);
    background: linear-gradient(29deg, rgba(17, 24, 39, 1) 0%, rgba(16, 83, 121, 1) 100%);
}

.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    height: 500px;
    object-fit: cover;
    vertical-align: middle;
}

.slideshow-container {
    max-width: var(--size-max-width);
    position: relative;
    margin: auto;
}

.slide__text {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--color-white);
    font-size: 1.3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 2px;
}

.numbertext {
    color: var(--color-white);
    font-size: 1.2rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.slideactive {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px;
    }
}

/* Announcementboard, freeboard */
#announcement {
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
}

#freeboard {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: var(--color-primary);
    background: linear-gradient(29deg, rgba(17, 24, 39, 1) 0%, rgba(16, 83, 121, 1) 100%);
    text-align: center;
}

.writebutton1 {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.writebutton1:hover {
    background-color: transparent;
    color: var(--color-deepblue);
    outline: 2px solid var(--color-accent);
}

.writebutton2 {
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    color: var(--color-white);
    border-radius: 4px;
    width: 150px;
    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
}

.writebutton2:hover {
    background-color: transparent;
    outline: 2px solid var(--color-accent);
}

.tablespace {
    margin-bottom: 3.5rem;
}

.openforum {
    color: var(--color-white);
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 80%;
    margin: auto;
}
th,
td {
    padding: 6px 15px;
}
th {
    background: #42444e;
    color: #fff;
    text-align: center;
}
tr:first-child th:first-child {
    border-top-left-radius: 6px;
}
tr:first-child th:last-child {
    border-top-right-radius: 6px;
}
td {
    border-right: 1px solid #c6c9cc;
    border-bottom: 1px solid #c6c9cc;
}
td:first-child {
    border-left: 1px solid #c6c9cc;
}

tr:nth-child(odd) td {
    background: var(--color-white);
}

tr:nth-child(even) td {
    background: #eaeaed;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}

th.tableno {
    width: 5%;
}
th.tabletitle {
    width: 65%;
}

th.tablenickname {
    width: 10%;
}

th.tabledate {
    width: 15%;
}

th.tablehit {
    width: 5%;
}

.board__title {
    color: var(--color-deepblue);
}

/* Partners */
#partners {
    color: var(--color-primary);
}

.categories {
    display: flex;
    justify-content: center;
    margin: 2.5rem;
    gap: 1rem;
}

.category {
    position: relative;
    color: var(--color-primary);
    font-size: 1.1rem;
    padding: 0.5rem 3rem;
    border-radius: 4px;
    border: 1px solid var(--color-accent);
    cursor: pointer;
    white-space: nowrap;
}

.category--selected {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.category__count {
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 16px;
    width: 28px;
    height: 28px;
    border-radius: 100%;
    line-height: 28px;
    background-color: var(--color-accent-light);
    color: var(--color-text);
    transition: all 300ms ease-in;
}

.category--selected .category__count,
.category:hover .category__count {
    opacity: 1;
    top: 0;
}

.projects {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    transition: all 250ms ease-out;
}

.projects.anim-out {
    opacity: 0;
    transform: scale(0.96) translateY(20px);
}

.project {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.project__img {
    width: 100%;
}

/* Arrow up */
.arrow-up {
    background-color: var(--color-accent);
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    text-align: center;
    box-shadow: 0 20px 50px var(--color-accent);
    transition: opacity 300ms ease-in;
    z-index: 1;
}

/* Footer */
#contact {
    position: relative;
    background-color: var(--color-primary);
    /* color: var(--color-text); */
}

.contact__divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.contact__divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 64px;
}

.contact__divider .shape-fill {
    fill: var(--color-white);
}

.contact__title {
    color: var(--color-accent);
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.contact__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;
}

.contact__links span {
    font-size: 1rem;
}

.contact__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: color 250ms ease-in;
    margin: 10px;
}

.contact__links__li {
    text-align: center;
    width: 260px;
    border: var(--color-white) solid 1px;
}

.contact__links span {
    font-size: 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.contact__link:hover {
    color: var(--color-accent);
}

.contact__link--rights {
    color: var(--color-white);
    margin-top: 2rem;
}

@media screen and (max-width: 768px) {
    .section {
        padding: 4rem 2rem;
    }
    .title {
        font-size: 2rem;
    }

    .description {
        font-size: 1rem;
    }

    .header {
        flex-direction: column;
        align-items: start;
        background-color: var(--color-primary);
    }

    .header__toggle {
        display: block;
    }

    .header__menu {
        display: none;
        flex-direction: column;
        text-align: center;
        margin: 1rem 4rem;
        gap: 1rem;
    }

    .header__menu.open {
        display: flex;
    }

    #home {
        padding-bottom: 3rem;
    }

    .home__title {
        font-size: 2.5rem;
        margin-bottom: 0.5rem;
    }

    .header__nav {
        width: 100%;
    }

    .majors {
        flex-direction: column;
        align-items: center;
    }

    .major {
        max-width: 25rem;
    }

    .job {
        justify-content: center;
    }

    .skills {
        grid-template-columns: 1fr;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        width: 100%;
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial {
        flex-direction: column;
    }

    .testimonial:nth-child(even) .testimonial__img {
        order: 0;
    }

    .arrow-up {
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

.username {
    color: var(--color-accent);
    font-size: 1.5rem;
}
