<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보 수정</title>
    <link rel="stylesheet" href="/css/user/user.modify.css" />
  </head>
  <body>
    <div class="usermodify-wrapper">
      <h1>회원 정보 수정</h1>
      <div class="usermodify-table">
        <form method="POST" action="/users/modify">
          <table>
            <tbody>
              <tr>
                <th><label for="email">이메일</label></th>
                <td>
                  {{user.email}}
                </td>
              </tr>
              <tr>
                <th><label for="password">패스워드</label></th>
                <td>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                  />
                </td>
              </tr>
              <tr>
                <th><label for="confirm_password">패스워드 확인</label></th>
                <td>
                  <input
                    type="password"
                    id="confirm_password"
                    name="confirm_password"
                    required
                    placeholder="패스워드 확인"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="username">닉네임</label></th>
                <td>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    required
                    value="{{user.username}}"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="gender">성별</label></th>
                <td>
                  <!-- 성별 부분의 nunjucks 문법 때문에 prettier에서 경고가 뜨지만,  -->
                  <!-- 실제 코드 상에는 문제가 없다. 무시해도 된다. -->
                  <select id="gender" name="gender" required>
                    <option value="male" {% if user.gender == 'male' %}selected{% endif %}>남성</option>
                    <option value="female" {% if user.gender == 'female' %}selected{% endif %}>여성</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th><label for="birth">생년월일</label></th>
                <td>
                  <input
                    type="date"
                    id="birth"
                    name="birth"
                    value="{{user.birth}}"
                    required
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="signup-wrapper">
            <a href="/">홈으로</a>
            <input class="signup-button" type="submit" value="회원 정보 수정" />
          </div>
        </form>
      </div>
      {% if SuccessMessage %}
      <script>
        setTimeout(()=>{
          window.location.href = "/";
        }, 3500)
      </script>
      <p class="modify-success">{{SuccessMessage}}</p>
      {% endif %}
    </div>
  </body>
  <script>
    // 비밀번호 검증 (8자 이상, 대문자와 특수문자 각 1개 이상)
    document.addEventListener("DOMContentLoaded", function () {
      function validatePassword() {
        let password = document.getElementById("password");
        let reLength = /.{8,}/;
        let reUpper = /[A-Z]/;
        let reSpecial = /[!-/:-@[-`{-~]/;

        let valid =
          reLength.test(password.value) &&
          reUpper.test(password.value) &&
          reSpecial.test(password.value);

        if (!valid) {
          password.setCustomValidity(
            "비밀번호는 최소 8자 이상이고, 대문자와 특수문자를 각각 1개 이상 포함해야 합니다."
          );
        } else {
          password.setCustomValidity("");
        }
      }

      document
        .getElementById("password")
        .addEventListener("input", validatePassword);
    });

     // 비밀번호 확인
     document.addEventListener("DOMContentLoaded", function () {
      let password = document.getElementById("password");
      let confirm_password = document.getElementById("confirm_password");
      function validatePassword() {
        if (password.value !== confirm_password.value) {
          confirm_password.setCustomValidity("비밀번호가 일치하지 않습니다.");
        } else {
          confirm_password.setCustomValidity("");
        }
      }

      password.addEventListener("change", validatePassword);
      confirm_password.addEventListener("keyup", validatePassword);
    });

    // 닉네임(username) 검증
    document.addEventListener("DOMContentLoaded", () => {
      function validateUsername() {
        let username = document.getElementById("username");
        let reSpecial = /[!-/:-@[-`{-~\s]/;

        let valid = reSpecial.test(username.value);

        if (valid) {
          username.setCustomValidity(
            "닉네임에는 공백이나 특수문자가 포함될 수 없습니다."
          );
        } else {
          username.setCustomValidity("");
        }
      }

      document
        .getElementById("username")
        .addEventListener("input", validateUsername);
    });
  </script>
</html>
