<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 정보 수정</title>
    <link rel="stylesheet" href="/css/user/user.modify.css" />
  </head>
  <body>
    <div class="usermodify-wrapper">
      <h1>회원 정보 수정</h1>
      <div class="usermodify-table">
        <form method="POST" action="/users/modify">
          <table>
            <tbody>
              <tr>
                <th><label for="email">이메일</label></th>
                <td>
                  <!-- <input
                    type="email"
                    id="email"
                    name="email"
                    required
                    value="{{user.email}}"
                  /> -->
                  <!-- 기성 사이트들 참고해본 결과,
                    emial변경은 불가능하게 설계하였다. -->
                  {{user.email}}
                </td>
              </tr>
              <tr>
                <th><label for="password">패스워드</label></th>
                <td>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    required
                  />
                </td>
              </tr>
              <tr>
                <th><label for="username">이름</label></th>
                <td>
                  <input
                    type="text"
                    id="username"
                    name="username"
                    required
                    value="{{user.username}}"
                  />
                </td>
              </tr>
              <tr>
                <th><label for="gender">성별</label></th>
                <td>
                  <!-- 성별 부분의 nunjucks 문법 때문에 prettier에서 경고가 뜨지만,  -->
                  <!-- 실제 코드 상에는 문제가 없다. 무시해도 된다. -->
                  <select id="gender" name="gender" required>
                    <option value="male" {% if user.gender == 'male' %}selected{% endif %}>남성</option>
                    <option value="female" {% if user.gender == 'female' %}selected{% endif %}>여성</option>
                  </select>
                </td>
              </tr>
              <tr>
                <th><label for="birth">생년월일</label></th>
                <td>
                  <input
                    type="date"
                    id="birth"
                    name="birth"
                    value="{{user.birth}}"
                    required
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="signup-wrapper">
            <a href="/">홈으로</a>
            <input class="signup-button" type="submit" value="회원 정보 수정" />
          </div>
        </form>
      </div>
      {% if SuccessMessage %}
      <script>
        setTimeout(()=>{
          window.location.href = "/";
        }, 3500)
      </script>
      <p class="modify-success">{{SuccessMessage}}</p>
      {% endif %}
    </div>
  </body>
</html>
