<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>유저 정보</title>
    <link rel="stylesheet" href="../../public/css/user/user.info.css" />
  </head>
  <body>
    <div class="userinfo-wrapper">
      <h1>유저 정보</h1>
      <div class="userinfo-table">
        <table>
          <tbody>
            <tr>
              <th>UID</th>
              <td>{{id}}</td>
            </tr>
            <tr>
              <th>E-mail</th>
              <td>{{e-mail}}</td>
            </tr>
            <tr>
              <th>유저 이름</th>
              <td>{{username}}</td>
            </tr>
            <tr>
              <th>생년월일</th>
              <td>{{birth}}</td>
            </tr>
            <tr>
              <th>성별</th>
              <td>{{gender}}</td>
            </tr>
            <tr>
              <th>레벨</th>
              <td>{{level}}</td>
            </tr>
            <tr>
              <th>가입일</th>
              <td>{{registered_at}}</td>
            </tr>
          </tbody>
        </table>
        <a href="#">홈으로</a>
        <a href="#">로그인 화면으로</a>
        <a href="#"></a>
      </div>
    </div>
  </body>
</html>
