<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>자유게시판 - 경일판</title>
    </head>
    <body>
        <table>
            <tr>
                <th>NO</th>
                <th>제목</th>
                <th>닉네임</th>
                <th>등록일</th>
                <th>조회수</th>
            </tr>
            {% for data in list %}
            <tr>
                <td>{{data.id}}</td>
                <td>
                    <a href="/boards/freeboard/view?id={{data.id}}">{{data.title}}</a>
                </td>
                <td>{{data.writer}}</td>
                <td>{{data.formattedDate}}</td>
                <td>{{data.hit}}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/">홈으로</a>
        <a href="/boards/freeboard/write">자유게시판 글 작성</a>
        <form action="/search" method="GET">
            <input type="text" name="query" placeholder="검색어를 입력하세요..." />
            <input type="submit" value="검색" />
        </form>
        <!-- 로그인, 비로그인 템플릿 -->
        <div>
            {% if user %}
            <!--  -->
            {{user.username}}님 환영합니다.<a href="/users/logout">로그아웃</a>
            {% else %}
            <a href="/users/login">로그인</a>
            {% endif %}
        </div>
    </body>
</html>
