<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>자유게시판 - 경일판</title>
  </head>
  <body>
    <table>
      <tr>
        <th>NO</th>
        <th>제목</th>
        <th>닉네임</th>
        <th>등록일</th>
        <th>조회수</th>
      </tr>
      {% for data in list %}
      <tr>
        <td>{{data.id}}</td>
        <td><a href="">{{data.titie}}</a></td>
        <td>{{data.writer}}</td>
        <td>{{data.created_at}}</td>
        <td>{{data.hit}}</td>
      </tr>
      {% endfor %}
    </table>
    <a href="/">홈으로</a>
    <a href="/boards/write">글 작성</a>
    <a href="/users/login">로그인</a>
    <form action="/serach" method="GET">
      <input type="text" name="query" placeholder="검색어를 입력하세요..." />
      <input type="submit" value="검색" />
    </form>
  </body>
</html>
