<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
    </head>
    <body>
        <p>제목: {{title}}</p>
        <p>생성날짜: {{formattedDate}}</p>
        <p>글쓴이: {{writer}}</p>
        <p>내용: {{content}}</p>
        <p>조회 수 : {{hit}}</p>
        <a href="/boards/list">글 목록</a>
        <a href="/boards/modify?id={{id}}">글 수정</a>
        <a href="/">홈으로</a>
        <form method="post" action="/boards/delete?id={{id}}">
            <button>글 삭제</button>
        </form>
    </body>
</html>
